.message-box.info .message-icon {
    background-image: resource("icons/console.infoicon.png");
}

.message-box.warning .message-icon {
    background-image: resource("icons/console.warnicon.png");
}

.message-box.error .message-icon {
    background-image: resource("icons/console.erroricon.png");
}

.message-box.none .message-icon {
    display: none;
}
