.message-box {
    border-width: 1px;
    border-color: #555;
    border-radius: 0;
    padding: 5px;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    margin-top: 5px;
    margin-bottom: 2px;
    flex-shrink: 0;
}

.message-icon {
    width: 16px;
    height: 16px;
    margin-right: 5px;
    align-self: center;
    flex-shrink: 0;
}

.message-box.info .message-icon {
    background-image: resource("icons/console.infoicon.png");
}

.message-box.warning .message-icon {
    background-image: resource("icons/console.warnicon.png");
}

.message-box.error .message-icon {
    background-image: resource("icons/console.erroricon.png");
}

.message-box.none .message-icon {
    display: none;
}

.message-box-label {
    flex-grow: 1;
    flex-wrap: wrap;
    white-space: normal;
    overflow: hidden;
    padding-right: 20px;
    text-overflow: ellipsis;
    -unity-overflow-clip-box: padding-box;
}
